*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #9db7ce;
}

.img-1{
    position: fixed;
    width: 1560px;
    height: 200px;
}

.H1{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 100px;
    top: 50px;
    font-size: 50px;
}

.para1{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    left: 610px;
    top: 65px;
    font-size: 30px;
}

.DIV1{
    position: absolute;
    background-color: white;
    border-radius: 60px;
    width: 380px;
    height: 500px;
    left: 570px;
    top: 130px;
}

.Div-2{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 30px;
    left: 19px;
}
.In1{
    background-color: #9db7ce;
    width:320px ;
    border-radius: 20px;
    align-items: center;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.In2{
    background-color: #9db7ce;
    width:320px ;
    border-radius: 20px;
    align-items: center;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}


.btn-1{
    position: relative;
    background-color: #2E2E88;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    top: 80px;
    left: 20px;
    width:340px ;
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.para3{
    position: absolute;
    color: black;
    font-size: 25px;
    left: 580px;
    top: 650px;
    font-weight: bold;
}

.signup{
    text-decoration: none;
    color:#2E2E88;
    font-family: Arial, Helvetica, sans-serif;
}